.scan-check {

  .scan-check-btnWrap {
    margin-top: 5px;
  }

  .scan-checks-list {
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .scan-checks-list li {
    display: inline-block;
    padding-right: 25px;
  }

  .scan-checks-list li:last-child {
    padding-right: 0px;
  }

  .scan-checks-list li.active {
    font-weight: bold;
  }

  .scan-checks-list li.rejected {
    color: red;
  }

  .check-scroll {
    overflow-y: auto;
    min-height: 300px;
    height: 300px;
    margin-bottom: 20px;


    .img-width {
      margin-left: auto;
      margin-right: auto;
      display: block;
      max-width: 100%;
    }

    .img-opacity {
      opacity: 0.8;
    }

    .scan-check-margin {
      margin-left: 12px;
    }

    .scan-check-position {
      position: absolute;
      z-index: 50;
      top: 10%;
      left: 45%;
      font-size: x-large;
      font-weight: bold;
    }

    .thumbnail {
      position: relative;
      box-shadow: none;
      border: none;
    }
  }


  .md-select-top {
    margin-right: 19px;
    position: absolute;
    right: 8px;
    top: 4px;
    width: 150px;

    .div-md {
      float: left;
      display: inline-block;
    }

    .md-select-value {
      border-bottom-style: none;
      border-bottom-width: 0px;
      background-color: $base-primary-color;
    }

    .md-select-value .md-select-icon {
      display: none;
    }

    .div-md md-option {
      height: 26px;
      display: inline-block;
    }
  }

  .scan-check-container {
    max-width: 24%;
  }
}

.sel-md-option md-option {
  height: 26px;
  display: inline-block;
}

.checkmark {
  float: right;
  width: 15px;
  color: $checkmark-color;
}

.md-select-menu-container {
  z-index: 201;
}
