/*****************************************************************************
 *
 * COPYRIGHT       :   COPYRIGHT PHOENIX INTERACTIVE DESIGN INC. 2015
 *                     LICENSED MATERIAL - PROGRAM PROPERTY OF PHOENIX
 *                     INTERACTIVE DESIGN INC. ALL RIGHTS RESERVED
 *
 * $Source: _default.scss $
 * $Author: Rohit S. Kondwilkar (DBD) (kondwr) $
 * $Date: 2016/09/14 04:55:02EDT $
 * $Revision: 1.36 $
 *
 ******************************************************************************/
$base-color: #666666;
$base-primary-color: #cccccc;
$base-secondary: #f3f3f3;
$sidenav-left-bg: $base-secondary;
$healthy-color: #28bf00;
$warning-color: #f1c40f;
$fatal-color: #ff0000;
$sidenav-link-color: #ffffff;
$sidenav-btn:$base-color;
$icon-background: #ffffff;
$header-background: #000000;
$sidenav-btn-color: #ffffff;
$header-icon-color: #ffffff;
$header-color: #ffffff;
$input-color: $base-primary-color;
$input-search-color: $base-color;
$input-border: $base-primary-color;
$editable-input-bg: #ffffff;
$textarea-border: #ffffff;
$default-text: $base-color;
$login-input-focus-border: #9e9e9e;
$default-text-light: $base-primary-color;
$border-color: $base-color;
$border-light-color: $base-primary-color;
$list-border-color: $base-primary-color;
$branches-background: $base-primary-color;
$search-btn-bg: #ff9900;
$branch-box-bg: $base-primary-color;
$branch-box-border: $base-primary-color;
$branch-transparent-bg: #434343;
$branch-list-btn: #ffffff;
$incoming-transfer-bg: #ffffff;
$incoming-transfer-heading: #ffffff;
$app-list-btn-bg: #ffffff;
$quick-view-body: #1a1a1a;
$quick-view-text: $base-primary-color;
$atm-status-bg: #434343;
$atm-status-text: #8e9995;
$atm-status-span: #ffffff;
$branches-desc-text: #ffffff;
$atm-name: #ffffff;
$inner-atm-text: #ffffff;
$employee-wrap-text: #ffffff;
$confirm-modal-title-bg: #c2c2c2;
$white: #ffffff;
$dialog-transparent: rgba(102, 102, 102,.5);
$dialog-card-media-bg: #999999;
$dialog-card: #ffffff;
$dialog-default-btn-bg: #b7b7b7;
$dialog-default-btn-color: #ffffff;
$history-list-bg: #b7b7b7;
$history-list-border: #b7b7b7;
$history-list-border-hover: #cc0000;
$history-list-text: #ffffff;
$branch-header: #ffffff;
$logout-link: #ffffff;
$branch-done: #ffffff;
$profile-tab-border: #cc0000;
$confirm-modal-title-border: #7a7a7a;
$customer-profile-highlight: #cc0000;
$customer-profile-nodata: #ffffff;
$customer-profile-info-background: #ffffff;
$dialog-teller-background: #cc0000;
$dialog-teller-color: #ffffff;
$dialog-close-button: #ffffff;
$dialog-button-background: #fff3e2;
$dialog-button-color: #fcac53;
$customer-table-header-background: #fffcfc;
$transfer-button-color: #ffa520;
$md-tab-color: #ffffff;
$transfer-timer: #ff0000;
$transfer-timer-shadow: #ffffff;
$generic-orange: #ffb940;
$generic-hover: #555555;
$customer-table: #cac6c6;
$tgcustomer-orange: orange;
$login-button-default: #269CE9;
$login-button-text-color: #ffffff;
$login-button-disable-color: #d3d3d3;
$health-icon-before-color: #000000;
$quickview-layout-selected: #23527c;
$quickview-layout-not-selected: #337ab7;
$error-border-color: #ff0101;
$dashboard-terminal-help-accepted-color: #ffffff;
$dashboard-terminal-help-accepted-border: #ffba07;
$dashboard-terminal-help-accepted-background: #ffba07;
$dashboard-terminal-help-alert-color: #ffffff;
$dashboard-terminal-help-alert-border: #a60505;
$dashboard-terminal-help-alert-background : #a60505;
$dashboard-terminal-assist-progress-color: #ffffff;
$dashboard-terminal-assist-progress-border: #ffba07;
$dashboard-terminal-assist-progress-background: #ffba07;
$dashboard-terminal-idle-color: #ffffff;
$dashboard-terminal-idle-border: #9f9f9f;
$dashboard-terminal-idle-background: #9f9f9f;
$dashboard-terminal-withdrawal-override-color: #ffffff;
$dashboard-terminal-withdrawal-override-border: #ee731e;
$dashboard-terminal-withdrawal-override-background: #ee731e;
$dashboard-terminal-terminalAssistInSession-color: #fff;
$dashboard-terminal-terminalAssistInSession-border: #6aa84F;
$dashboard-terminal-terminalAssistInSession-background: #6aa84F;
$account-maintenance-border: #ffb940;
$account-transfer-border: #ffb940;
$account-transfer-md-button-disaled: transparent;
$account-transfer-md-input-container: transparent;
$wizard-page-heading-color: #555555;
$checkmark-color: #ffb940 ;
$base-ui-button-color: #ffffff;
$base-button-color: #ffffff;
$base-button-background-color: #ffb940 ;
$ssn-textbox-lookup-color: #ffb940;
$ssn-md-ink-bar-border-bottom-color: orange;
$check-id-location-color: #000000;
$check-info-color: #000000;
$scan-check-round-box-color: #000000;
$verify-check-background-color: #eeeeee;
$verify-check-no-reject-reason-color: #cccccc;
$error-code-color: red;
$button-text-shadow-color: #ffffff;
$wizard-modal-color: #ffffff;
$wizard-modal-background-color: #000000;
$id-image-box-color: #ffffff;
$verify-check-container-background-color: transparent;
$flipCheck-button-background-color: #cccccc;
$flipCheck-button-color: #000000;
$flipCheck-button-background-color-hover: #dddddd;
$flipCheck-button-color-hover: #000000;
$no-reject-reason-color: #cccccc;
$check-type-err-color: #ff0000;
$textbox-control-color: #555555;
$button-approve-color: #ffffff;
$button-approve-background-color: #38761d;
$button-not-approve-color: #ffffff;
$button-not-approve-background-color: #cc0000;
$button-not-approve-hover-color: #df0000;
$button-approve-hover-color: #60c93c;
$check-circle-sign-color: green;
$button-tertiary-border-color: #daa034;
$button-tertiary-color: #daa034;
$button-tertiary-background-color: white;
$button-tertiary-hover-color: #ffb940;
$advice-opp-box-border-color: #cccccc;
$form-border-color: #f8f4f4;
$horizontal-border-color: #eeeeee;
$button-default-color: #333333;
$username-password-input: #d3d6d7;
$table-row-border-color: #dddddd;
$health-device-error-color: #00d700;
$keyboard-icon-color: #2bbbad;
$scan-cash-denomination-color: #a1af57;
$rejected-reason-background-color: #e7e7e7;
$scan-cash-color: #ccebab; 